{% extends 'base.html' %}
{% load static %}
<form action="{% url 'shop:add_to_cart' product.id %}" method="post">


{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <h1>{{ product.name }}</h1>
    <p>{{ product.description }}</p>
    <p>Цена: {{ product.price }} рублей.</p>
    <img src="{% static 'shop/images/' %}{{ product.image.name }}" alt="{{ product.name }}">
    <form action="{% url 'shop:add_to_cart' product.id %}" method="post">
        {% csrf_token %}
        <label for="quantity">Количество:</label>
        <input type="number" name="quantity" id="quantity" value="1">
        <button type="submit">Добавить в корзину</button>
    </form>
{% endblock %}
